<div class="hero-image">
  <div class="hero-text">
    <h2 id="myname">Kyle Williamson</h2>
    <br>
    <p id="mytitle">Web Developer</p>
    <br>
    <br>
    <%= link_to "Hire me", pages_contact_path, class: "hireme" %>
  </div>
</div>

  
