<div class="hero-image">
  <div class="hero-text">
    <h2 id="mymame">I'm Kyle Williamson</h2>
    <br>
    <p id="mytitle">And I'm a photographer</p>
    <br>
    <br>
    <%= link_to "Hire me", "", class: "hireme" %>
  </div>
</div>
  
