@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* navbar */

.nav {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 70px;
  width: 100%;
  background-color: #1f1f1f; 
  overflow: hidden;
}

.navlist {
  display: flex;
  padding: 0;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 40px 0 40px;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  font-weight: 100;
}

a:hover {
  color: #db8e36;
}


/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: #1f1f1f;
  position: absolute;
}

.socials {
  margin: 0;
  padding: 0;
  text-align: center;
}

.sociallinks {
  display: inline;
  margin: 0 25px 0 25px;
  font-size: 1rem;
}

.sociallinks:hover {
  color: #db8e36;
  background-color: #1f1f1f;
}